# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information files
*.dwo

# Flutter
app/.dart_tool/
app/build/
app/.packages
app/.flutter-plugins
app/.flutter-plugins-dependencies
app/pubspec.lock

# Android
app/android/.gradle/
app/android/local.properties

# iOS
app/ios/Pods/
app/ios/Flutter/Flutter.framework/
app/ios/Flutter/Flutter.podspec